/* ELIMINA LA LÍNIA DEL IMPORT D'AQUÍ */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estils globals */
html,
body {
  height: 100%;
  margin: 0;
}

/* Scrollbar personalitzat */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e293b;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
